@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?15vww3');
	src:url('../fonts/icomoon.eot?#iefix15vww3') format('embedded-opentype'),
		url('../fonts/icomoon.woff?15vww3') format('woff'),
		url('../fonts/icomoon.ttf?15vww3') format('truetype'),
		url('../fonts/icomoon.svg?15vww3#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-gonggao:before {
	content: "\e603";
}
.icon-normal:before {
	content: "\e604";
}
.icon-2:before {
	content: "\e600";
}
.icon-0:before {
	content: "\e601";
}
.icon-1:before {
	content: "\e602";
}
.icon-left:before {
	content: "\e605";
}
.icon-right:before {
	content: "\e606";
}
.icon-home:before {
	content: "\e607";
}
.icon-logout:before {
	content: "\e608";
}
.icon-search_2:before {
	content: "\e609";
}
.icon-shop_2:before {
	content: "\e60b";
}
.icon-aol_2:before {
	content: "\e60c";
}
.icon-push_1:before {
	content: "\e60d";
}
.icon-doc:before {
	content: "\e60e";
}
.icon-annpushup:before {
	content: "\e60f";
}
.icon-flowPage:before {
	content: "\e610";
}
.icon-empData:before {
	content: "\e611";
}
.icon-face:before {
	content: "\e612";
}
.icon-back_1:before {
	content: "\e613";
}
.icon-pendover_1:before {
	content: "\e614";
}
.icon-pend_1:before {
	content: "\e615";
}
.icon-pending_1:before {
	content: "\e616";
}
.icon-pendover_2:before {
	content: "\e617";
}
.icon-pend_2:before {
	content: "\e618";
}
.icon-back_2:before {
	content: "\e619";
}
.icon-pending_2:before {
	content: "\e61a";
}
